/* global body padding */
html,
body {
    direction: rtl;
    font-size: 12px;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'iransans';
    src: url('../font/IRANSansWeb(FaNum)_Light.eot') format('embedded-opentype'), url('../font/IRANSansWeb(FaNum)_Light.ttf') format('truetype'), url('../font/IRANSansWeb(FaNum)_Light.woff') format('woff');
}

* {
    font-family: iransans;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.center {
    /* text-align: center; */
}

header {
    height: 60px;
    background: url(../images/logo.png) no-repeat left center #fff;
    background-size: 110px;
    background-position: 10px 3px;
}

/****************************************************************************/

.main-page {
    background: #f9f8f7;
    height: calc(100% - 105px);
    overflow: auto;
}

    .main-page .box {
        background: #f9f8f7;
        padding-bottom: 10px;
        overflow: hidden;
    }

        .main-page .box.left {
            direction: ltr;
        }

            .main-page .box.left .link {
                float: right;
            }

        .main-page .box .video {
            height: 45vh;
            object-fit: contain;
            position: relative;
        }

            .main-page .box .video.left {
                left: 27vh;
            }

        .main-page .box .title {
            font-size: 18px;
            color: #505050;
            padding: 0 10px 5px 0;
            direction: rtl;
        }

        .main-page .box .text {
            font-size: 13px;
            color: #484848;
            padding: 0 10px 0px 15px;
            text-align: justify;
            font-weight: 100;
            direction: rtl;
            line-height: 25px;
        }

        .main-page .box .link {
            margin: 0 0px 0 0;
            /* height: 30px; */
            display: inline-block;
            color: #1473ad;
            font-size: 13px;
            position: relative;
            direction: rtl;
        }

            .main-page .box .link.right {
                margin: 0px 12px 0 0;
            }

            .main-page .box .link:after {
                content: "";
                height: 1px;
                width: 30px;
                position: absolute;
                right: 0;
                background: #1473ad;
                bottom: 0px;
            }

        .main-page .box ul {
            direction: rtl;
            width: 100%;
            padding-left: 20px;
        }

        .main-page .box li {
            text-shadow: 0px 0px 0px #cad0f5;
            margin: 0 27px 0 0;
            line-height: 28px;
        }



/*********************************************************************/

.footer {
    text-align: center;
    background: #efefef;
    padding: 6px 10px 0 10px;
    height: 105px;
    font-size: 12px;
}
.footer .link.online a{
    background: #59627b;
    }

    .footer .link {
        display: block;
        color: #676767;
        line-height: 30px;
        margin: 0 0 5px 0;
        font-weight: 600;
    }

    .footer .link.online i{
        font-style:normal;
        color:#ffc950
    }

        .footer .link a {
            color: #ffffff;
            padding: 0 3px;
            background: #3c7ba9;
            /* float: left; */
            text-decoration: none;
            height: 26px;
            line-height: 26px;
            font-weight: 100;
            text-align: center;
            border-radius: 3px;
            display: inline-block;
            font-size: 13px;
            padding: 0 8px;
            /* box-shadow: 0px 2px 5px 0 rgba(0,0,0,.26); */
        }

        .footer .link.asa{
            text-align:center;
            font-weight: 100;
            color: #777;
            line-height: 25px;
            margin: 0;
        }

        .footer .link.asa a{
            float:none;
            background: transparent;
            color: #009a99;
            text-decoration: underline;
            box-shadow: none;
            padding: 0;
        }

            .footer .link a.login {
                color: #ffffff;
                font-size: 12px;
                background: #5D6E88;
                padding: 3px 16px;
                border-radius: 5px;
                text-decoration: none;
            }





/************************************************************/
