/* global body padding */
html,
body {
    direction: rtl;
    font-size: 12px;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'iransans';
    src: url('../font/IRANSansWeb(FaNum)_Light.eot') format('embedded-opentype'), url('../font/IRANSansWeb(FaNum)_Light.ttf') format('truetype'), url('../font/IRANSansWeb(FaNum)_Light.woff') format('woff');
}

* {
    font-family: iransans;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.center {
    text-align: center;
}

header{
    height: 60px;
    background: url(../images/logo.png) no-repeat left center #fff;
    background-size: 110px;
    background-position: 10px 3px;
}

.btn {
    box-shadow: 0px 2px 5px 0 rgba(0,0,0,.26);
}

/****************************************************************************/

.main-page {
    background: #f9f8f7;
    height: calc(100% - 115px);
    overflow:  auto;
    padding: 0 0 10px 0;
}

.main-page .box{
    background: #f9f8f7;
    padding-bottom: 50px;
    overflow: hidden;
}

.main-page .box .video{
    height: 47vh;
    object-fit: contain;
    position: relative;
}

.main-page .box .video.left{
    left: 27vh;
}

.main-page .box .title{
    font-size: 18px;
    color: #505050;
    padding: 0 10px 5px 0;
}

.main-page .box .text{
    font-size: 13px;
    color: #484848;
    padding: 0 10px 5px 15px;
    text-align: justify;
    font-weight: 100;
}

.main-page .box .link{
    margin: 0 0px 0 0;
    height: 30px;
    display: inline-block;
    color: #1473ad;
    font-size: 13px;
    /* font-weight: 600; */
    position: relative;
}

.main-page .box .link.right{
    margin: 0px 26px 0 0;
}

.main-page .box .link:after{content:"";height: 1px;width: 30px;position: absolute;right: 0;background: #1473ad;bottom: 5px;}

.main-page .box li{
    padding: 0px 25px 8px 0;
    text-shadow: 0px 0px 0px #cad0f5;
}



/*********************************************************************/

.footer{
    text-align: center;
    background: #efefef;
    padding: 10px 0 0 0;
    height: 115px;
}

.footer .btn{
    background: linear-gradient(to bottom,#ffc74a 50%,#ffbb22 50%);
    border: none;
    width: 90%;
    color: #fff;
    font-size: 18px;
    box-shadow: none;
    display: block;
    margin: 0px auto 10px;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
}

.footer .link{
    display:block;
    color: #8e8e8e;
    font-size: 11px;
    line-height: 25px;
}

.footer .link a{
    color:#00bab9;
    font-weight: 600;
    padding: 0 3px;
}

.footer .link a.login{
    color: #2e5192;
}





/************************************************************/
